footer{
    font-family: $fuentebase !important;
    font-size: $tamañobase;   
    background-color: $colorbase !important; 
    #divFooter{
        #ulFooter{
            #liFooter{
                text-decoration: none;
                    #enlacesocial{
                    #imgFooter{
                    }
                }
            }    
        }
    }
} 
@media only screen and (max-width: 425px){
    #imgFooter{
        width: 15px;
        
    } 
}

