footer{
    font-family: $fuentebase !important;
    font-size: $tamañobase;   
    background-color: $colorbase !important; 
}
div{
    ul{
        li{
        text-decoration: none;
        a{
        }
        } 
    }
}

