@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
$fuentebase : 'Work Sans', sans-serif;
$fuentelogo : 'Courgette', cursive;
$tamañobase : 1rem;